.card-align {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.card-main {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-header {
    
    background: linear-gradient(rgb(110,110,110,.9), rgb(28,28,28,.7));
    color: white;
}

.button {
    background-color: green;
    color: white;
}


